
                    .btn-default {
    color: #fff;
    background-color: #4c3263;
    border-color: #4c3263;
}
                    #accomodation-title{
                        color: #4c3263;
                    }
                    #accomodation-discription{
                            color: #6d6969;
                    }

#thirdrow {
    background-image: url(images/digitalbg.jpg);
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}    
    


                    #ht {
    background: #4F3922 url(images/bg_subheader.png);
    background-repeat: repeat;
}
                    .brow-light{color: #fff;}
                    .header-gurgaon{
                        background: rgb(0,0,0,0.7);
                        border-top: 1px solid #7b7158;
                        border-bottom: 2px solid #706343;
                    }
                    .nav-li-a {
                            font-family: "Brush Script MT";
                            font-size: 23px;
                            color: #d5ba80;
                    }
                    .background-img-gurgoan{
                        background-image: url(images/line-art-1.png);background-repeat:no-repeat;background-position: 40% 102%;
                    }
                    .icon-img-center-box{
                        margin: auto;
                    }
                    @font-face {
font-family: "Brush Script MT";
src: url(fonts/fontello/font/brushsci.ttf);
}
                    @font-face {
font-family: "Monotype Corsiva";
src: url(fonts/fontello/font/Monotype.ttf);
}
                    .icon-img-title-strong{
                        
                        /*font-family: "Brush Script MT";*/
/*                        font-size: 30px;
                        font-weight: 500;
                        line-height: 26.4px;*/
                        color: #fff;
                    }
                    .h0-Brush-Script-MT{
                        /*font-family: "Brush Script MT";*/
/*                        font-size: 50px;
                        font-weight: 600;
                        line-height: 26.4px;*/
                        color: #d5ba80;
                    }
                    .h1-Brush-Script-MT{
                        /*font-family: "Brush Script MT";*/
/*                        font-size: 40px;
                        font-weight: 500;
                        line-height: 26.4px;*/
                        color: #d5ba80;
                    }
                    .h2-Brush-Script-MT{
                        font-family: "Brush Script MT";
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 26.4px;
                        color: #fff;
                    }
                    .h3-Brush-Script-MT{
                        /*font-family: "Monotype Corsiva";*/
/*                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1.4;*/
                        color: #d5ba80;
                    }
                    .footer-Brush-Script-MT{
                        /*font-family: "Monotype Corsiva";*/
/*                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1.4;*/
                        color: #d5ba80;
                    }
                    .h4-Brush-Script-MT{
                        /*font-family: "Monotype Corsiva";*/
/*                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1.4;*/
                        color: #d5ba80;
                    }
                    .icon-title-Brush-Script-MT {
                            /*text-align: center;*/
                            /*font-family: "Brush Script MT";*/
                            /*font-size: 20px;*/
                            /*font-weight: 600;*/
                            /*line-height: 26.4px;*/
                        color: #d5ba80;
                    }
                